.controls {
    position: absolute;
    left: 10px;
    top: 20%;
    width: 200px;
    height: 60%;
    z-index: 10000;
    background-color: rgba(150, 150, 150, 0.8);
    padding: 10px;
}

.map {
    position: relative;
    height: 100vh;
}